.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-background);
}

.container {
  max-width: var(--breakpoint-lg);
  margin: 0 auto;
  padding: 0 1rem;
}

.cardGrid {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .cardGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}